html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 10pt;
}

.sidepanel, .content-panel{
	margin-top: -26px;
}

.bread{
	background-color: rgb(221, 219, 219);
	/* font-weight: bold; */
}

.btn-menu{
	cursor: pointer;
}

.breadmenu a{
	text-decoration: none;
}

.sidebar .card .card-header {
	background-color: rgb(218, 216, 216);
}

.sidebar .card a {
	text-decoration: none;
	color: black;
}

.sidebar .card .collapse {
	background-color: rgb(255, 255, 255);
}

.sidebar .card ul {
	margin-top: 10px;
	margin-left: 30px;
}

.sidebar .card ul li {
	padding: 5px;
}

.collapse-menu[data-toggle="collapse"] .btn-close {
	content: "\f104";
}

.collapse-menu[data-toggle="collapse"].collapsed .btn-close {
	transform: rotate(-90deg);
}

.content-panel {
	margin-left: -5px;
}

.nav-item a,
.nav-item a:hover {
	color: #37a4b4;
	font-weight: 600;
}.highcharts-figure, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#container h4 {
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
}
#container p {
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 600px) {
    #container h4 {
        font-size: 2.3vw;
        line-height: 3vw;
    }
    #container p {
        font-size: 2.3vw;
        line-height: 3vw;
    }
}

#container h4 {
text-transform: none;
font-size: 14px;
font-weight: normal;
}
#container p {
font-size: 13px;
line-height: 16px;
}

@media screen and (max-width: 600px) {
#container h4 {
	font-size: 2.3vw;
	line-height: 3vw;
}
#container p {
	font-size: 2.3vw;
	line-height: 3vw;
}
}

table tr th,
table tr td {
	font-weight: normal;
	/* font-size: 12pt; */
	font-size: 10pt;
	/* font-family: 'Times New Roman', Times, serif; */
	/* font-family: Calibri; */
}

.status-proses{
	padding-top: 20pt;
	padding-bottom: 20pt;
}

.footer-content {
	min-height: 200px;
	background-color: rgb(247, 245, 245);
}

.footer-icons ul li {
	display: inline-block;
}

.footer-icons ul li a {
	border: 1px solid #37a4b4;
	color: #37a4b4;
	display: block;
	font-size: 14pt;
	height: 40px;
	line-height: 38px;
	margin-right: 5px;
	text-align: center;
	width: 40px;
	border-radius: 50%;
}

.footer-icons ul li a:hover {
	background-color: #37a4b4;
	color: white;
	text-decoration: none;
}

.footer-contacts p span {
	color: #3EC1D5;
	font-weight: bold;
}

.copyright {
	background-color: rgb(240, 240, 240);
}
