html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

	font-family: tahoma;
	font-size: 10pt;
}

.sidepanel, .content-panel{
	margin-top: -26px;
}

.breadcrumb{
	background-color: rgb(221, 219, 219);
	padding-top: 10px;
}

.breadcrumb .page{
	font-weight: bold;
}

.breadcrumb a{
	text-decoration: none;
}


.breadcrumb .breadcrumb-item:nth-child(2)::before {
	content: "";
}

.btn-menu{
	cursor: pointer;
	
}

.sidebar .card .card-header {
	background-color: rgb(218, 216, 216);
}

.sidebar .card a {
	text-decoration: none;
	color: black;
}

.sidebar .card .collapse {
	background-color: rgb(255, 255, 255);
}

.sidebar .card ul {
	margin-top: 10px;
	margin-left: 30px;
}

.sidebar .card ul li {
	padding: 5px;
}

.collapse-menu[data-toggle="collapse"] .btn-close {
	content: "\f104";
}

.collapse-menu[data-toggle="collapse"].collapsed .btn-close {
	transform: rotate(-90deg);
}

.content-panel {
	margin-left: -5px;
}

.accordion>.card>.card-header{
	cursor: pointer;
}

/* card icon */
.card-value {
	font-size: 2rem;
}

.card-value small {
	font-size: 1rem;
}

.card-body-icon {
	position: absolute;
	z-index: 0;
	top: -0.5rem;
	left: 0.5rem;
	opacity: 0.3;
	font-size: 5rem;
	/* -webkit-transform: rotate(15deg);
	transform: rotate(15deg); */
}

.card-caption {
	font-size: 1rem;
	font-weight: bold;
}
/* end card icon */

#container h4 {
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
}
#container p {
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 600px) {
    #container h4 {
        font-size: 2.3vw;
        line-height: 3vw;
    }
    #container p {
        font-size: 2.3vw;
        line-height: 3vw;
    }
}

#container h4 {
text-transform: none;
font-size: 14px;
font-weight: normal;
}
#container p {
font-size: 13px;
line-height: 16px;
}

@media screen and (max-width: 600px) {
#container h4 {
	font-size: 2.3vw;
	line-height: 3vw;
}
#container p {
	font-size: 2.3vw;
	line-height: 3vw;
}
}

table tr th,
table tr td {
	font-weight: normal;
	/* font-size: 12pt; */
	font-size: 10pt;
	/* font-family: 'Times New Roman', Times, serif; */
	/* font-family: Calibri; */
}

.status-proses{
	padding-top: 20pt;
	padding-bottom: 20pt;
}

.footer-content {
	min-height: 200px;
	background-color: rgb(247, 245, 245);
}

.footer-icons ul li {
	display: inline-block;
}

.footer-icons ul li a {
	border: 1px solid #37a4b4;
	color: #37a4b4;
	display: block;
	font-size: 14pt;
	height: 40px;
	line-height: 38px;
	margin-right: 5px;
	text-align: center;
	width: 40px;
	border-radius: 50%;
}

.footer-icons ul li a:hover {
	background-color: #37a4b4;
	color: white;
	text-decoration: none;
}

.footer-contacts p span {
	color: #3EC1D5;
	font-weight: bold;
}

.copyright {
	background-color: rgb(240, 240, 240);
}
