html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 10pt;
}

.sidepanel, .content-panel{
	margin-top: -10px;
}

.bread{
	background-color: rgb(221, 219, 219);
	font-weight: bold;
}

.btn-menu{
	cursor: pointer;
}

.breadmenu a{
	text-decoration: none;
}

.sidebar .card .card-header {
	background-color: rgb(218, 216, 216);
}

.sidebar .card a {
	text-decoration: none;
	color: black;
}

.sidebar .card .collapse {
	background-color: rgb(255, 255, 255);
}

.sidebar .card ul {
	margin-top: 10px;
	margin-left: 30px;
}

.sidebar .card ul li {
	padding: 5px;
}

.collapse-menu[data-toggle="collapse"] .btn-close::before {
	content: "\f106";
}

.collapse-menu[data-toggle="collapse"].collapsed .btn-close::before {
	content: "\f107";
}

.content-panel {
	margin-left: -5px;
}
